{% extends "base.html" %}
{% block title %}
<title>Технологии</title>
{% endblock %} 
{% block content %}
<div class="row">
  <div style="margin-left:20px"><h3>Для создания этого сайта использовались следующие технологии:</h3>
    <div style="margin-top:20px">
      <li class="list-group-item">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <button type="button" class="btn btn-warning">PYTHON</button> - дай Бог здоровья Гвидо!🔥</div>
      </li>
      <li class="list-group-item">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <button type="button" class="btn btn-primary">DJANGO</button> - спасибище Адриану и Саймону!🔥🔥</div>
      </li>
      <li class="list-group-item">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <button type="button" class="btn btn-success">Подсказки в SLACK</button> -  спасибо наставникам и сокурсникам!💕</div>
      </li>
      <li class="list-group-item">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <button type="button" class="btn btn-danger">Комментарии ревьюера</button> - сколько терпения у человека!👍</div>
      </li>
      <li class="list-group-item">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <button type="button" class="btn btn-info">Вебинары от наставников</button> - очень крутые! 💪</div>
      </li>
      <li class="list-group-item">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <button type="button" class="btn btn-secondary">Интернет-ресуры</button> - низкий поклон Тиму!🌍</div>
      </li>
      <li class="list-group-item">
        <div class="shadow-lg p-3 mb-5 bg-white rounded"><button type="button" class="btn btn-light">Сила воли</button> - спасибо ненаглядной мне! 🥰</div>
      </li>
    </ul>
  <article class="col-12 col-md-9">
    <div style="margin-left:240px"><i>... А не пойти ли мне в веб-разработчики?</i></div>
  </article>
</div>
{% endblock %} 
