{% extends "base.html" %}
{% block title %}
<title>Об авторе</title>
{% endblock %}
{% block content %}
{% load static %}
<div class="container py-2">
  <h3>Меня зовут <span style="color:red">Л</span>ена <span style="color:red">Т</span>рембовельская</h3
  <p>
    <img src="{% static 'img/author.png' %}" width="170" height="220" class="d-inline-block align-top" alt="">
  </p>
  <p>
    <ul>
      <blockquote>
        <h5><span class="badge bg-info">Люблю</span></h5>
        <li>Свою семью</li>
        <li>Кататься на горных лыжах</li>
        <li>Мощные и большие машины</li>
        <li>Сочинять песни</li>
        <li>Стейки</li>
        <li>Учиться чему-то новому</li>
        <li>Научную и околонаучную фантастику</li>
        <li>Печь торты</li>
    </blockquote>
    <blockquote>
        <h5><span class="badge bg-info">Не люблю</span></h5>
        <li>Социальные сети</li>
        <li>Болеть</li>
        <li>Имбирь</li>
        <li>Вкалывать на даче</li>
        <li>Монотонную работу</li>
        
    </blockquote> 
  </p>
  <p> Мои текущие работы: <a href=" url">https://github.com/elenatremma</a></p>
</div>
{% endblock %}
