{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
<title>Пройфайл пользователя {{ author.username }}</title>
{% endblock %}
{% block content %}
<div class="container py-2">
  <div class="mb-5">
    {% if user.is_authenticated %}
      {% if author != request.user %}
        {% if following %}
        <a
          class="btn btn-lg btn-success"
          href="{% url 'posts:profile_unfollow' author.username %}" role="button"
        >
          Отписаться
        </a>
        {% else %} 
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
         Подписаться
        </a>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
  <h3>Все посты пользователя <span class="badge bg-info">{{ author.username }}</span></h3>
  <h4>Количество постов: <span class="badge bg-info">{{ author.posts.count }}</span></h4>
  <h4>Количество подписок: <span class="badge bg-info">{{ author.follower.count }}</span></h4>
  <h4>Количество подписчиков: <span class="badge bg-info">{{ author.following.count}}</span></h4>
    {% for post in page_obj %}          
    {% include 'posts/includes/article.html' %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %}  
</div>
{% endblock %}
  